@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-emphasis: none;}

#wrap {
    width: 360px;
    height: 4144px;
    background-color: rgba(0, 0, 0, .2);
    margin: auto;
}

header {
    width: 360px;
    height: 120px;
    background-color: rgba(255, 0, 0, .2);
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
}

nav {
    width: 360px;
    height: 120px;
    background-color: rgba(0, 255, 0, .2);
    margin-bottom: 20px;
}

nav ul li {
    width: 360px;
    height: 30px;
    background-color: rgba(0, 0, 0, .1);
}

nav ul li a {
    width: 360px;
    height: 30px;
    display: block;
    text-align: center;
}

nav ul li a:hover {background-color: aqua;}

.main_img {
    width: 340px;
    height: 423px;
    background-color: rgba(255, 255, 0, .2);
    position: relative;
    margin: 0 auto 20px;
}

.main_caption {
    width: 340px;
    height: 200px;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    bottom: 0;
}

#mobile_btn {
    width: 240px;
    height: 60px;
    background-color: rgba(0, 255, 255, .2);
    margin: 50px auto;
}

#mobile_btn ul li {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, .2);
    float: left;
    margin-right: 30px;
}
/* 마진을 양옆에 반반씩 줘서 부모의 크기를 마진까지 포함한 크기로 만들어줘도 된다. */

#mobile_btn ul li:last-child {
    margin: 0;
}

footer {
    width: 360px;
    height: 200px;
    background-color: rgba(255, 0, 255, .2);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#ft_logo {
    width: 320px;
    height: 80px;    
    background-color: rgba(0, 0, 0, .1);
}

footer p {
    width: 320px;
    height: 80px;
    background-color: rgba(0, 0, 0, .2);
}